<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <img src="https://www.euroschoolindia.com/wp-content/uploads/2023/06/study-tips-for-final-exams.jpg" alt="exam" width="200">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
        <footer>exam 2024 keyce</footer>
    </body>
</html>
